@layer components {
  .title-item {
    height: 44px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    box-sizing: border-box;
    border-radius: 4px;
    cursor: pointer;
  }

  .title-item.is-selected {
    background: #F5F8FA;
  }

  .title-text {
    width: 100%;
    height: 24px;
    line-height: 24px;
    color: #1A1A1A;
    font-weight: 400;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .title-item.is-selected .title-text {
    color: #32A8F8;
    font-weight: 700;
  }
}
