/* ボタンコンポーネント固有のスタイル */
@layer components {
  .h-btn-md {
    height: 40px;
  }
  .h-btn-sm {
    height: 40px;
  }
  
  .w-btn-md {
    width: 90px;
  }
  .w-btn-sm {
    width: 40px;
  }
  
  .min-w-btn {
    min-width: 40px;
  }
  .max-w-btn {
    max-width: 90px;
  }
  
  .gap-btn-gap {
    gap: 4px;
  }
}
