@layer components {
  .sidebar {
    width: 100%;
    height: 100vh;
    background: #FFFFFF;
    box-sizing: border-box;
    padding: 30px 0px 0px 0px;
    border-right: 1px solid #F6F8FA;
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .sidebar__header {
    display: flex;
    padding-left: 40px;
    align-items: center;
    margin-bottom: 20px;
  }

  .sidebar__section {
    display: flex;
    padding-left: 40px;
    flex-direction: column;
    gap: 8px;
    flex: 1 1 auto;
    overflow: hidden;
  }

  .sidebar__section-title {
    font-size: 14px;
    color: #444;
    padding-left: 2px;
  }

  .sidebar__list {
    flex: 1 1 auto;
    overflow-y: auto;
  }

  .sidebar__fab {
    width: 100%;
    height: 60px;
    background-color: #F6F8FA;
    display: flex;
    align-items: center;
    justify-content: flex-end; /* 内部のボタンを右寄せ */
    padding-right: 10px; /* 端からの余白 */
    box-sizing: border-box;
  }

  .sidebar__toast {
    padding: 8px;
    color: #fff;
    background: rgba(0, 0, 0, 0.75);
    border-radius: 6px;
    margin: 12px;
    text-align: center;
  }
}
